body {
    text-align: center;
}

.chef {
    height: 450px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.beef {
    height: 450px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.title1 {
    font-size: 60px;
}

.title2 {
    font-size: 30px;
}

.title1, .title2 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul, ol {
    width: 400;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif; 
}

.recipe {
    text-align: center;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
}

